cryptography>=37.0.1
cython>=0.29.30
cytoolz>=0.11.2
dnspython[trio]>=2.2.1
eth-hash[pycryptodome]>=0.3.3
eth-keys>=0.4.0
httpx>=0.23.0
hypercorn>=0.15.0
lru-dict>=1.1.7
parse>=1.19.0
pycryptodome>=3.15.0
pytest>=7.1.2
python-snappy>=0.6.1
quart-trio>=0.8.0
rlp>=3.0.0
trio>=0.21.0
ujson>=5.4.0
